/* =========================
   Basic
========================= */

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #111111;
}


/* =========================
   Li Zheng Menu Button
========================= */

.menu-button {
    position: fixed;

    top: 24px;
    left: 24px;

    z-index: 1000;

    border: none;
    background: none;

    padding: 0;

    font-family: inherit;
    font-size: 52px;
    font-weight: 400;

    cursor: pointer;

    color: #111111;
}


/* =========================
   Side Menu
========================= */

.side-menu {
    position: fixed;

    top: 0;
    left: 0;

    width: 280px;
    height: 100vh;

    background: #ffffff;

    z-index: 900;

    transform: translateX(-100%);

    transition: transform 0.4s ease;

    border-right: 1px solid #eeeeee;
}


/* Menu Open */

.side-menu.open {
    transform: translateX(0);
}


/* =========================
   Menu Content
========================= */

.menu-content {
    padding: 75px 24px 40px 24px;

    display: flex;
    flex-direction: column;
    gap: 2px;
}


.menu-content a {
    color: #111111;

    text-decoration: none;

    font-size: 14px;
    line-height: 1.2;

    transition: opacity 0.2s ease;
}

.menu-content a.large {
    font-size: 23px;
}


.menu-content a.dot::before {
    content: "·";
}

.menu-content a:hover {
    opacity: 0.5;
}


.menu-space.large{
    height: 52px;
}

.menu-space.small{
    height: 16px;
}



/* =========================
   Main Content
========================= */

.main-content {
    width: 100%;
    min-height: 100vh;

    display: flex;

    align-items: center;
    justify-content: center;
}


.main-content h1 {
    font-size: 80px;
    font-weight: 400;
}


/* =========================
   Mobile
========================= */

@media (max-width: 600px) {

    .menu-button {
        top: 18px;
        left: 18px;
        font-size: 22px;
    }

    .side-menu {
        width: 80vw;
    }

    .menu-content {
        padding: 75px 18px 30px 18px;
    }

}



/* =========================
   Custom Cursor
========================= */

/* =========================
   LIZ Custom Cursor
========================= */

html,
body {
    cursor: url("images/squid-normal.png") 6px 6px, auto !important;
}

a,
button,
[role="button"],
.clickable,
.door-hotspot,
.menu-button {
    cursor: url("images/squid-hover.png") 6px 6px, pointer !important;
}
    cursor: url("images/squid-hover.png") 6px 6px, auto;
}

